.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: 0.05rem solid #5755d9;
  border-radius: 0.1rem;
  color: #5755d9;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  height: 1.8rem;
  line-height: 1.2rem;
  outline: none;
  padding: 0.25rem 0.4rem;
  text-align: center;
  text-decoration: none;
  transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn:focus {
  box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
}

.btn:focus,
.btn:hover {
  background: #f1f1fc;
  border-color: #4b48d6;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background: #4b48d6;
  border-color: #3634d2;
  color: #fff;
  text-decoration: none;
}

.btn:active.loading::after,
.btn.active.loading::after {
  border-bottom-color: #fff;
  border-left-color: #fff;
}

.btn[disabled],
.btn:disabled,
.btn.disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.btn.btn-primary {
  background: #5755d9;
  border-color: #4b48d6;
  color: #fff;
}

.btn.btn-primary:focus,
.btn.btn-primary:hover {
  background: #4240d4;
  border-color: #3634d2;
  color: #fff;
}

.btn.btn-primary:active,
.btn.btn-primary.active {
  background: #3a38d2;
  border-color: #302ecd;
  color: #fff;
}

.btn.btn-primary.loading::after {
  border-bottom-color: #fff;
  border-left-color: #fff;
}

.btn.btn-success {
  background: #32b643;
  border-color: #2faa3f;
  color: #fff;
}

.btn.btn-success:focus {
  box-shadow: 0 0 0 0.1rem rgba(50, 182, 67, 0.2);
}

.btn.btn-success:focus,
.btn.btn-success:hover {
  background: #30ae40;
  border-color: #2da23c;
  color: #fff;
}

.btn.btn-success:active,
.btn.btn-success.active {
  background: #2a9a39;
  border-color: #278e34;
  color: #fff;
}

.btn.btn-success.loading::after {
  border-bottom-color: #fff;
  border-left-color: #fff;
}

.btn.btn-error {
  background: #e85600;
  border-color: #d95000;
  color: #fff;
}

.btn.btn-error:focus {
  box-shadow: 0 0 0 0.1rem rgba(232, 86, 0, 0.2);
}

.btn.btn-error:focus,
.btn.btn-error:hover {
  background: #de5200;
  border-color: #cf4d00;
  color: #fff;
}

.btn.btn-error:active,
.btn.btn-error.active {
  background: #c44900;
  border-color: #b54300;
  color: #fff;
}

.btn.btn-error.loading::after {
  border-bottom-color: #fff;
  border-left-color: #fff;
}

.btn.btn-link {
  background: transparent;
  border-color: transparent;
  color: #5755d9;
}

.btn.btn-link:focus,
.btn.btn-link:hover,
.btn.btn-link:active,
.btn.btn-link.active {
  color: #302ecd;
}

.btn.btn-sm {
  font-size: 0.7rem;
  height: 1.4rem;
  padding: 0.05rem 0.3rem;
}

.btn.btn-lg {
  font-size: 0.9rem;
  height: 2rem;
  padding: 0.35rem 0.6rem;
}

.btn.btn-block {
  display: block;
  width: 100%;
}

.btn.btn-action {
  padding-left: 0;
  padding-right: 0;
  width: 1.8rem;
}

.btn.btn-action.btn-sm {
  width: 1.4rem;
}

.btn.btn-action.btn-lg {
  width: 2rem;
}

.btn.btn-clear {
  background: transparent;
  border: 0;
  color: currentColor;
  height: 1rem;
  line-height: 0.8rem;
  margin-left: 0.2rem;
  margin-right: -2px;
  opacity: 1;
  padding: 0.1rem;
  text-decoration: none;
  width: 1rem;
}

.btn.btn-clear:focus,
.btn.btn-clear:hover {
  background: rgba(247, 248, 249, 0.5);
  opacity: 0.95;
}

.btn.btn-clear::before {
  content: "\2715";
}

.btn-group {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.btn-group .btn {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.btn-group .btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
  margin-left: -0.05rem;
}

.btn-group .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -0.05rem;
}

.btn-group .btn:focus,
.btn-group .btn:hover,
.btn-group .btn:active,
.btn-group .btn.active {
  z-index: 1;
}

.btn-group.btn-group-block {
  display: -ms-flexbox;
  display: flex;
}

.btn-group.btn-group-block .btn {
  -ms-flex: 1 0 0;
  flex: 1 0 0;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown .menu {
  animation: slide-down 0.15s ease 1;
  display: none;
  left: 0;
  max-height: 50vh;
  overflow-y: auto;
  position: absolute;
  top: 100%;
}

.dropdown.dropdown-right .menu {
  left: auto;
  right: 0;
}

.dropdown.active .menu,
.dropdown .dropdown-toggle:focus + .menu,
.dropdown .menu:hover {
  display: block;
}

.dropdown .btn-group .dropdown-toggle:nth-last-child(2) {
  border-bottom-right-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
}

.empty {
  background: #f7f8f9;
  border-radius: 0.1rem;
  color: #66758c;
  padding: 3.2rem 1.6rem;
  text-align: center;
}

.empty .empty-icon {
  margin-bottom: 0.8rem;
}

.empty .empty-title,
.empty .empty-subtitle {
  margin: 0.4rem auto;
}

.empty .empty-action {
  margin-top: 0.8rem;
}

.menu {
  background: #fff;
  border-radius: 0.1rem;
  box-shadow: 0 0.05rem 0.2rem rgba(48, 55, 66, 0.3);
  list-style: none;
  margin: 0;
  min-width: 180px;
  padding: 0.4rem;
  transform: translateY(0.2rem);
  z-index: 300;
}

.menu.menu-nav {
  background: transparent;
  box-shadow: none;
}

.menu .menu-item {
  margin-top: 0;
  padding: 0 0.4rem;
  position: relative;
  text-decoration: none;
}

.menu .menu-item > a {
  border-radius: 0.1rem;
  color: inherit;
  display: block;
  margin: 0 -0.4rem;
  padding: 0.2rem 0.4rem;
  text-decoration: none;
}

.menu .menu-item > a:focus,
.menu .menu-item > a:hover {
  background: #f1f1fc;
  color: #5755d9;
}

.menu .menu-item > a:active,
.menu .menu-item > a.active {
  background: #f1f1fc;
  color: #5755d9;
}

.menu .menu-item .form-checkbox,
.menu .menu-item .form-radio,
.menu .menu-item .form-switch {
  margin: 0.1rem 0;
}

.menu .menu-item + .menu-item {
  margin-top: 0.2rem;
}

.menu .menu-badge {
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.menu .menu-badge .label {
  margin-right: 0.4rem;
}
