
<${Fragment}>
<div class="grd p0">
  <div class="grd-row p0 ">
    <div id="lg-dummy-space-l" class="grd-row-col-1-6"></div>
    <div class="grd-row-col-4-6--lg">
      <${Navbar} />
      <main>${props.children}</main>
      <${Footer} />
    </div>
    <div id="lg-dummy-space-r" class="grd-row-col-1-6 center"></div>
    <${StyleNormalize} />
    <${StyleCustom} />
  </div>
</div>        <style global>
@media screen and (max-width: 64rem) {
  #lg-dummy-space-l,
  #lg-dummy-space-r {
    width: auto;
  }
}
</style><//
>