/* https://www.codementor.io/@ricardozea/100-responsive-typography-system-using-a-modular-scale-s5rhft58g */

:root {
    --screen-unit: min(1vh, 1vw);
}

html {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: calc(14px + 0.35*var(--screen-unit));
    /* Responsive base font size */
    line-height: calc(14px + 1.05*var(--screen-unit));
    /* Responsive Vertical Rhythm */
}


.main-ctnr {
    width: 100%;
    /* For small screens */
    max-width: 1140px;
    /* For large screens */
    margin: auto;
    /* Center the container in the viewport */
}

h1 {
    font-size: 1.912em;
    line-height: clamp(1.3em, calc(18px + 1.8*var(--screen-unit)), 1.471em);
    /* Responsive Vertical Rhythm */
}

h2 {
    font-size: 1.616em;
    line-height: calc(18px + 1*var(--screen-unit));
    /* Responsive Vertical Rhythm */
}

h3 {
    font-size: 1.471em;
    line-height: calc(18px + 0.7*var(--screen-unit));
    /* Responsive Vertical Rhythm */
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.243em;
}

h6 {
    font-size: 1.132em;
}

h4,
h5,
h6 {
    line-height: calc(18px + .2*var(--screen-unit));
    /* Responsive Vertical Rhythm */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: calc(12px + 1.05*var(--screen-unit)) 0;
    /* Responsive margins */
}