<div id="lg-nav" class="grd-row p1">
  <div id="lg-nav--menu" class="grd-row-col-1-6 h4 bold">logo</div>
  <div id="lg-nav--logo" class="grd-row-col-3-6 txt--center h4">large</div>
  <div class="grd-row-col-2-6 txt--center">
    <div class="grd p0">
      <div class="grd-row p0">
        <div id="lg-nav--menu--favourite" class="grd-row-col-1-6 h4 bold">
          <${HeartOutlined} />
        </div>
        <div class="grd-row-col-4-6 h6 thin">
          <input
            type="search"
            id="lg-nav--menu--search-form"
            placeholder="Search"
          />
        </div>

        <div id="lg-nav--menu--search" class="grd-row-col-1-6 h4 bold">
          <${SearchOutlined} />
        </div>
      </div>
    </div>
  </div>
</div>
